.footer {
    width: 100%;
    background-color: #0039A6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
    padding: 60px 0;
}
.footer__logo-box {
display: flex;
}
.footer__icon {
background: url("../img/icon.svg") center no-repeat;
width: 60px;
height: 60px;
}
.footer__logo {
background: url("../img/logo__white.svg") center no-repeat;
width: 94px;
height: 41px;
}
.footer__text {
color: #fff;
margin-right: 145px;
}