.wrapper {
    max-width: 1920px;
    width: 100%;
    background-color: #F6F8FA;
    overflow: hidden;
    margin: 0 auto;
}  
.header {
    min-width: 920px;
    width: 100%;
} 
.nav {
    max-width: 1140px;
    min-width: 720px;
    width: 80%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    box-shadow: 10px 10px 60px 0px rgba(162,175,189,1);
}
.nav__menu-mobile{
    display: none;
    background: url("../img/menu-mob.svg") center no-repeat;
    width: 24px;
    height: 24px;
margin-left: 12.5%;
}
.nav__item {
    display: flex;
align-items: center;
justify-content: space-around;
}
.nav__text {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 500;
}
.text {
}
.us{
width: 205px;
display: flex;
justify-content: space-around;
}
.contacts{
width: 285px;
display: flex;
justify-content: space-around;
}
.mail{
width: 255px;
display: flex;
justify-content: space-around;
}
.language{
width: 100px;
display: flex;
justify-content: space-around;
}
.nav__line {
    background-color: #8095AB;
    height: 60px;
    width: 1px;
}
.nav__phone {
    background: url("../img/phone.svg") center no-repeat;
    width: 18px;
    height: 18px;
}
.nav__viber {
    background: url("../img/viber.svg") center no-repeat;
    width: 18px;
    height: 20px;
}
.nav__whatsup {
    background: url("../img/whatsup.svg") center no-repeat;
width: 18px;
height: 20px;
}
.nav__mail {
    background: url("../img/mail.svg") center no-repeat;
width: 24px;
height: 24px;
}
.nav__language {
    background: url("../img/eng.svg") center no-repeat;
    width: 24px;
height: 24px;
}
.header__logo-box {
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    width: 172px;
    height: 60px;
    display: flex;
    padding: 25px 72px 25px 40px;
    border-radius: 0 0 16px 16px;
    box-shadow: 10px 10px 60px 0px rgba(162,175,189,1);
    margin-bottom: -20px;
    z-index: 2;
}
.header__icon {
    background: url("../img/icon.svg") center no-repeat;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.header__logo {
    background: url("../img/logo.svg") center no-repeat;
    width: 94px;
    height: 41px;
}
.header__content {
    position: relative;
background: url("../img/kreml.png") center no-repeat;
margin-top: 20px;
width: 100%;
height: 600px;
background-size: auto;
margin-bottom: 530px;
}
.head__content-article {
    font-size: 36px;
    line-height: 140%;
}
.header__article-box{
    font-family: 'Montserrat', sans-serif;
    width: 37%;
    padding-top: 180px;
    margin: 0 auto;
    padding-right: 380px;
}
.article {
}
.head__content-text {
    padding: 0 10px 20px 10px;
    font-weight: 400;
    font-size: 14px;
}
.head__content-button {
width: 280px;
color: #fff;
background-color: #0039A6;
border-radius: 10px 0 10px 0;
padding: 20px 20px 20px 20px;
margin-top: 40px;
border: none;
}
.button {
    font-weight: bold;
}
.header__blue-line{
    position: absolute;
    width: 454px;
    height: 50px;
    left: calc(50% + 101px);
    background-color: #0039A6;
    border-radius: 10px;
    top: 700px;
}
.header__blue {
    position: absolute;
    width: 100%;
    height: 309px;
    background-color: #0039A6;
border-radius: 10px 0 10px 0;
border-radius:400px 0 0 0;
text-align: center;
padding: 90px;
    left: calc(50% - 610px);
    top: 750px;
    font-family: 'Montserrat', sans-serif;
}
.header__blue-article {
   font-size: 36px;
    color: #fff;
    text-align: left;
    padding-left: 310px;

    padding-bottom: 20px;
}
.header__blue-text {
   font-size: 14px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    padding-left: 330px;
}
@media (max-width:920px){
    .header{
        min-width: 320px;
    }
    .nav{
        min-width: 320px;
width: 100%;
clip-path: polygon(0 25%, 100% 25%, 93% 59%, 7% 59%);
justify-content: center;
    }
}
@media (max-width:780px){
    .header__logo-box{
background: url("../img/icon__logo-mob.svg") center no-repeat;
width: 115px;
height: 40px;
background-size: contain;
padding: 0;
margin-right: calc(50% - 57.5px);
    }
    .nav{
        justify-content: space-between
    }
    .header__icon{
        display: none;
    }
    .header__logo{
        display: none;
    }
    .nav__menu-mobile{
        display: block;
    }
    .nav__item{
        display: none;
    }
    .head__content-text{
        width: 45%;
        padding: 0;
    }
    .head__content-article{
        font-size: 20px;
    }
    .header__content{
        background: url("../img/kreml_mobile.png")right no-repeat;
        height:480px;
    }
    .header__article-box{
        width: 87.5%;
        padding: 70px 0 0 0;
    }
    .header__blue{
        border-radius: 0 0 0 0 ;
        top: 470px;
        padding: 80px 0 0 0;
        left: 0;
    }
    .head__content-button{
        position: relative;
        margin: 100px 0 -30px 0;
        border: #ffffff solid 5px;
        border-radius: 25px 0 25px 0;
        width: 240px;
        padding: 0;
z-index: 2;
font-size: 12px;
height: 50px;
    }
    .header__blue-article{
        font-size: 20px;
        text-align: center;
        padding:0;
    }
    .header__blue-text{
        text-align: center;
        padding-left:0;
        width: 240px;
        margin: 0 auto;
    }
    .header__blue-line{
        display: none;
    }
}